---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
 I am a 3rd year doctoral student in Computer Science at ETH Zurich, fortunate to be advised by <a href="https://las.inf.ethz.ch/krausea" target="_blank">Andreas Krause</a> and <a href="https://stat.ethz.ch/~buhlmann/" target="_blank">Peter B&#252;hlmann</a>.
<!-- My Ph.D. is supported by a <a href="https://research.google/programs-and-events/phd-fellowship/" target="_blank">Google PhD Fellowship</a> in Machine Learning.-->
<!--  I am a 3rd year Ph.D. student at <a href="https://ml.inf.ethz.ch/" target="_blank">Institute for Machine Learning</a> in the department of Computer Science, ETH Zurich. I am fortunate to be advised by <a href="https://las.inf.ethz.ch/krausea" target="_blank">Andreas Krause</a> and <a href="https://stat.ethz.ch/~buhlmann/" target="_blank">Peter B&#252;hlmann</a>.-->
<!--  I am a member of <a href="https://ml.inf.ethz.ch/" target="_blank">ETH Institute for Machine Learning</a> and associated with the <a href="https://ai.ethz.ch/" target="_blank">ETH AI Center</a>.-->
<!--      As of September 2024, I am a student researcher at <a href="https://deepmind.google/">Google DeepMind</a> with <a href="https://olivierbachem.ch/" target="_blank">Olivier Bachem</a>.-->
  Previously I was an intern at <a href="https://machinelearning.apple.com/" target="_blank">Apple MLR</a> with <a href="https://marcocuturi.net/" target="_blank">Marco Cuturi</a>.
      I am interested in statistics, optimization, and theory of Machine Learning, often in the context of sequential decision-making and online learning.
  </p>

  <p>
  I completed my M.Sc. at ETH, under the supervision of Andreas Krause and <a href="http://fanny-yang.de/" target="_blank">Fanny Yang</a>, with a thesis on Contextual Neural Bandits.
  Before coming to ETH, I did a dual B.Sc. in Electrical Engineering and Computer Science at Sharif University of Technology. My thesis was on Visualizing Adversarial Attacks on Convolutional Neural Networks, which I wrote with <a href="https://www.cs.cit.tum.de/camp/members/cv-nassir-navab/nassir-navab/" target="_blank">Nassir Navab</a> and <a href="https://research.google/people/FedericoTombari/" target="_blank">Federico Tombari</a> at TU Munich.
  </p>

</div>


<!-- ========== NEWS ========== -->
<!--<span class="anchor" id="news"></span>-->
<div class="docs-section">
  <h4>News</h4>
  <!-- <p> Scroll for older news </p> -->
  <UL style="list-style-type: none; padding: 2px; overflow-y: scroll; height:200px;">

<!--      <li><b>[16.09.24]</b>-->
<!--      Started an internship at <a href="https://machinelearning.apple.com/" target="_blank">Google DeepMind</a>, Zurich.-->
<!--    </li>-->
<!--      <li><b>[06.09.24]</b>-->
<!--          Was selected for a Google PhD Fellowship in Machine Learning.-->
<!--      </li>-->

      <li><b>[29.08.24]</b>
      Finished my internship at <a href="https://machinelearning.apple.com/" target="_blank">Apple MLR</a> with a short talk on my project, <a href="https://arxiv.org/abs/2406.05061" target="_blank">Progressive Entropic OT</a>. <a href="https://pkassraie.github.io/assets/talks/apple_2024.pdf" target="_blank">[Slides]</a>
    </li>

<!--    <li><b>[9-11.07.24]</b>-->
<!--      Attending the <a href="https://sites.google.com/berkeley.edu/adaptivelearningworkshop2024/home" target="_blank">Adaptive Learning</a> summer workshop at TTIC. Will present a recent <a href="https://arxiv.org/abs/2406.16745" target="_blank">preprint</a> on Bandits with Preference Feedback.-->
<!--    </li>-->
<!--    -->
<!--    <li><b>[01.06.24]</b>-->
<!--      Made it 3 years into the PhD. -->
<!--    </li>-->
<!--    -->
<!--     <li><b>[5-10.05.24]</b>-->
<!--      Attending the <a href="https://www.mfo.de/occasion/2419b/www_view" target="_blank">game-theoretic statistics workshop</a> at Oberwolfach Mathematical Research Institute. Will talk about Online Model Selection. <a href="https://pkassraie.github.io/assets/talks/savi_2024.pdf" target="_blank">[Slides]</a>-->
<!--    </li>-->

     <li><b>[26.03.24]</b>
      Was awarded the <a href="https://ethz.ch/en/research/research-promotion/eth-doc-mobility.html" target="_blank">ETH Doc.Mobility Fellowship</a>,
                      for a research visit with <a href="https://www.stat.cmu.edu/~aramdas/" target="_blank">Aaditya Ramdas</a>.
    </li>

      <li><b>[04.03.24]</b>
      Started an internship at <a href="https://machinelearning.apple.com/" target="_blank">Apple MLR</a>, Paris.
    </li>

<!--            <li><b>[23.02.24]</b>-->
<!--      Giving a talk at ELLIS workshop on Interactive Learning, Oberwolfach Mathematical Research Institute, Feb 27,-->
<!--          on Model Selection for Sequential Inference and Optimization. <a href="https://pkassraie.github.io/assets/talks/ellis_2024.pdf" target="_blank">[Slides]</a>-->
<!--    </li>-->

<!--      <li><b>[09.11.23]</b>-->
<!--      Giving a talk at <a href="https://sites.google.com/view/icsds2023/home?authuser=0" target="_blank">IMS ICSDS</a>, Lisbon Dec 18,-->
<!--          on Model Selection for Sequential Inference and Optimization. <a href="https://pkassraie.github.io/assets/talks/icsds_2023.pdf" target="_blank">[Slides]</a>-->
<!--    </li>-->

  <li><b>[01.11.23]</b>
      <a href="https://arxiv.org/abs/2211.01258" target="_blank">Instance-Dependent Generalization Bounds via OT</a> to appear in JMLR.
    </li>

<li><b>[18.06.23]</b>
      Serving as the head teaching assistant for <a href="https://las.inf.ethz.ch/teaching/pai-f23" target="_blank"> Probabilistic Artificial Intelligence</a>.
    </li>

<!--      <li><b>[07.09.23]</b>-->
<!--      Giving a <a href="https://virtual.oxfordabstracts.com/#/event/4019/submission/90" target="_blank">talk</a> at the Royal Statistical Society Conference 2023 on Anytime Model Selection. <a href="https://pkassraie.github.io/assets/talks/rss_2023.pdf" target="_blank">[Slides]</a>-->
<!--      </li>-->

<!--<li><b>[19.06.23]</b>-->
<!--      Giving a talk at the <a href="https://bguedj.github.io/icml2023-workshop/" target="_blank">PAC-Bayes Meets Interactive Learning Workshop</a> on Anytime Model Selection in Linear Bandits.-->
<!--    </li>-->

<!--      <li><b>[01.06.23]</b>-->

<!--        Made it 2 years into the PhD.-->

<!--      </li>-->

<!--      <li><b>[08.05.23]</b>-->

<!--       <a href="https://arxiv.org/abs/2210.15513" target="_blank">LiBO</a> and <a href="https://arxiv.org/abs/2303.01076" target="_blank">HAMBO</a> to be presented at UAI 2023.-->

<!--      </li>-->

<!--      <li><b>[06.02.23]</b>-->

<!--       Among AISTATS 2023 <a href="https://aistats.org/aistats2023/reviewers.html" target="_blank"> top 10&percnt; reviewers</a>.-->

<!--      </li>-->

<!--      <li><b>[22.11.22]</b>-->
<!--      Attending <a href="https://neuripsinparis.github.io/neurips2022paris/" target="_blank">NeurIPS@Paris</a>. Presenting <a href="https://arxiv.org/abs/2207.06456" target="_blank">GNN Bandits</a>.-->
<!--      </li>-->

<!--      <li><b>[03.11.22]</b>-->

<!--        New Preprint: <a href="https://arxiv.org/abs/2211.01258" target="_blank">Instance-Dependent Generalization Bounds via Optimal Transport</a>.-->

<!--      </li>-->

<!--      <li><b>[12-16.09.22]</b>-->

<!--       Attending <a href='https://simons.berkeley.edu/workshops/datadriven-workshop1' target="_blank">Quantifying Uncertainty Workshop</a>  @ Simons Institute.-->
<!--       Presenting <a href="https://arxiv.org/abs/2202.00602" target="_blank">Meta-KeL</a> and some new results.-->

<!--      </li>-->

<!--      <li><b>[17-23.07.22]</b>-->

<!--           <s>Attending ICML 2022, serving as a Session Chair. Presenting <a href="https://arxiv.org/abs/2202.00602" target="_blank">Meta-KeL</a> at the main conference, and at <a href='https://realworldml.github.io/' target="_blank">ReALML</a>.</s> (visa arrived too late)-->

<!--      </li>-->

<!--      <li><b>[15.07.22]</b>-->

<!--          New Preprint: <a href="https://arxiv.org/abs/2207.06456" target="_blank">Graph Neural Network Bandits</a>-->

<!--      </li>-->

<!--      <li><b>[13.07.22]</b>-->

<!--           Among ICML 2022 <a href="https://icml.cc/Conferences/2022/Reviewers" target="_blank"> top 10&percnt; reviewers</a>.-->

<!--      </li>-->

<!--      <li><b>[21.06.22]</b>-->

<!--          <s> Invited to <a href='https://simons.berkeley.edu/workshops/deep-learning-theory-workshop' target="_blank">Deep Learning Theory Workshop</a> @ Simons Institute.</s> (visa arrived too late)-->

<!--      </li>-->

<!--      <li><b>[07.06.22]</b>-->

<!--          Reviewing for NeurIPS and <a href='https://realworldml.github.io/' target="_blank">ReALML</a> @ ICML.-->

<!--      </li>-->

<!--      <li><b>[01.06.22]</b>-->

<!--        Made it 1 year into the PhD.-->

<!--      </li>-->

<!--      <li><b>[30.05-03.06.22]</b>-->

<!--       Attending <a href='https://www.stat.cmu.edu/~aramdas/SAVI/savi20.html' target="_blank">SAVI 2022</a>. Presenting <a href="https://arxiv.org/abs/2202.00602" target="_blank">Meta-KeL</a>.-->

<!--      </li>-->

<!--    <li><b>[28-30.03.22]</b>-->

<!--       Attending AISTATS 2022. Presenting <a href="https://arxiv.org/abs/2107.03144" target="_blank">Neural Contextual Bandits without Regret</a>.-->

<!--    </li>-->

<!--    <li><b>[11.02.2022]</b>-->

<!--       Among AISTATS 2022 <a href="https://virtual.aistats.org/Conferences/2022/Reviewers" target="_blank"> top 10&percnt; reviewers</a>.-->

<!--    </li>-->

<!--    <li><b>[01.02.2022]</b>-->

<!--      New Preprint: <a href="https://arxiv.org/abs/2202.00602" target="_blank">Meta-KeL</a>-->

<!--    </li>-->

<!--    <li><b>[29.01.22]</b>-->

<!--        Reviewing for ICML.-->

<!--    </li>-->

<!--    <li><b>[22.12.21]</b>-->

<!--        Giving a talk at <a href="https://react.ee.sharif.edu/" target="_blank"> ReACT 2021</a> on 'No-regret Bayesian Optimization with limited knowledge of the function space'.-->

<!--    </li>-->

    <li><b>[01.06.21]</b>

        Started a PhD.

    </li>

  </UL>
</div>




<!-- ========== PROJECTS ==========
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
-->

<!--&lt;!&ndash; ========== RESUME ========== &ndash;&gt;-->
<!--<div class="docs-section" id="resume">-->
<!--  <h4>Vitæ</h4>-->

<!--  &lt;!&ndash; <p>Full Resume in <a href={{ "/assets/cv/cv_web.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p> &ndash;&gt;-->

<!--  &lt;!&ndash; The Timeline &ndash;&gt;-->
<!--  <ul class="timeline">-->
<!--    {% for exp in site.data.experience.experiences %}-->
<!--    <li>-->
<!--      {% if exp.category == "work" %}-->
<!--      <div class="direction-l">-->
<!--      {% else %}-->
<!--      <div class="direction-r">-->
<!--      {% endif %}-->
<!--        <div class="flag-wrapper">-->
<!--          <span class="flag">{{ exp.place }}</span>-->
<!--          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>-->
<!--        </div>-->
<!--        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>-->
<!--      </div>-->
<!--    </li>-->
<!--    {% endfor %}-->
<!--  </ul>-->
<!--</div>-->


<div class="docs-section" id="template">
<!--    <h5>Website Design</h5>-->
    I made this webpage using <a href="https://web.stanford.edu/~msaveski/" target="_blank">Martin Saveski</a>'s template, available <a href="https://github.com/msaveski/www_personal" target="_blank">here</a>.
</div>
